@use "../index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(225, 225, 225, 0.2);
  border-radius: 0 1rem 0 1rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to right bottom,
    $blue-darker-background,
    $blue-lighter-background
  );
  overflow-x: hidden;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  overflow: hidden;
}
