@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

body {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.heading-hero {
  font-size: 5.2rem;
  line-height: 1.3;
  color: var(--plava-sekundarna);
  text-shadow: -5px -5px 20px rgba(0, 0, 0, 0.64);
  align-self: start;
  font-weight: 700;
}

.heading-hero strong {
  color: var(--font);
  text-transform: uppercase;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.heading-secondary {
  font-size: 2.4rem;
  color: var(--plava-sekundarni-naslov);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.heading-primary {
  font-size: 3.6rem;
  line-height: 1.15;
}

.sign-up-heading {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1rem;
}

.footer-heading {
  color: var(--font);
  text-shadow: -5px -5px 20px rgba(0, 0, 0, 0.64);
  align-self: center;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.3;
  font-weight: 500;
}

.app-heading {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

.app-heading strong {
  font-size: 3.2rem;
  color: var(--font-tamnija);
}
