/*:root {
  --font: #eef4ed;
  --font-tamnija: #a7aba6;
  --font-form: #4b2800;
  --plava-sekundarni-naslov: rgb(142, 202, 230);
  --plava-tamnija-pozadina: #00000f;
  --plava-svjetlija-pozadina: #29294a;
  --narandzasta-btn: #fb8500;
  --narandzasta-input-select: #fdb666;
  --form-btn: #7f5b33;
  --zelena: #39b385;
  --crvena: #e52a5a;
  --plava-sekundarna: #219ebc;
  --zuta: #ffb703;
}*/

$font: #eef4ed;
$font-darker: #a7aba6;
$font-form: #4b2800;
$blue-heading: rgb(142, 202, 230);
$blue-darker-background: #00000f;
$blue-lighter-background: #29294a;
$orange-btn: #fb8500;
$orange-input-select: #fdb666;
$form-btn: #7f5b33;
$green: #39b385;
$red: #e52a5a;
$blue-secondary: #219ebc;
$yellow: #ffb703;
