/*:root {
  --font: #eef4ed;
  --font-tamnija: #a7aba6;
  --font-form: #4b2800;
  --plava-sekundarni-naslov: rgb(142, 202, 230);
  --plava-tamnija-pozadina: #00000f;
  --plava-svjetlija-pozadina: #29294a;
  --narandzasta-btn: #fb8500;
  --narandzasta-input-select: #fdb666;
  --form-btn: #7f5b33;
  --zelena: #39b385;
  --crvena: #e52a5a;
  --plava-sekundarna: #219ebc;
  --zuta: #ffb703;
}*/

$font: #eef4ed;
$font-darker: #a7aba6;

$blue-primary: #8ecae6;
$blue-secondary: #219ebc;
$blue-darker-background: #00000f;
$blue-lighter-background: #29294a;

$btn-primary: #fb8500;

$form-font: #4b2800;
$form-input-select: #fdb666;
$form-btn: #7f5b33;

$green: #39b385;
$red: #e52a5a;
$yellow: #ffb703;

$card-gradient: linear-gradient(
  to right bottom,
  rgba(0, 0, 15, 0.7),
  rgba(142, 202, 230, 0.7)
);
