.about {
  background-color: $font;
  color: $blue-darker-background;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 5fr;
  gap: 9.8rem;

  &--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    align-items: center;
    justify-items: center;
  }
}
