.features-section {
  padding: 6.4rem 8rem;
  background-color: $font;
  color: $blue-darker-background;

  .features {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 9.6rem 0 1.6rem;
  }
}
