@use "../index" as *;

.svg-wrapper {
  position: relative;
}

.custom-shape-divider {
  &-bottom-1702907395,
  &-top-1702907219 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 100px;
    }

    .shape-fill {
      fill: $font;
    }
  }

  &-bottom-1702907395 {
    transform: rotate(180deg);
    bottom: 0;
  }

  &-top-1702907219 {
    top: 0;
  }
}
