// THIS REMOVE ARROWS FROM NUMBER INPUTS

input {
  // Chrome, Edge, Safari
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // Firefox
  &[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
