.account-info {
  justify-content: space-between;
  text-shadow: -5px 0px 50px rgba(0, 0, 0, 1);

  .balance {
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;

    &--amount {
      color: $blue-secondary;
    }
  }

  .summary {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;

    p strong {
      font-size: 2rem;
    }

    &--money-out {
      color: $red;
    }

    &--money-in {
      color: $green;
    }

    &--interest-rate {
      color: $yellow;
    }
  }
}
