.account-info {
  justify-content: space-between;
  text-shadow: -5px 0px 50px rgba(0, 0, 0, 1);
}

.info {
  gap: 1.2rem;
  display: flex;
}

.balance-p {
  font-size: 2.8rem;
  display: flex;
  justify-content: space-between;
}

.balance {
  color: var(--plava-sekundarna);
}

.summary {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.summary p strong {
  font-size: 2rem;
}

.summary-red {
  color: var(--crvena);
}

.summary-green {
  color: var(--zelena);
}

.summary-yellow {
  color: var(--zuta);
}
