.account-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .actions {
    gap: 2.4rem;

    &--icon {
      cursor: pointer;
      font-size: 4.4rem;
    }
  }

  .action-display {
    gap: 2.4rem;

    .action-form {
      gap: 1.6rem;
      color: $font;

      div label {
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
      }

      div input {
        padding: 0.4rem;
        border: 0.1rem solid $font-darker;
        background-color: transparent;
        border-radius: 0 1rem;
        color: $font;
        font-size: 1.6rem;
      }
    }
  }
}
