.footer {
  padding: 8rem;

  &--container {
    padding: 2.4rem 9.8rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;

    .banner {
      align-self: center;
      cursor: pointer;
    }
  }

  .flex-column {
    gap: 6.4rem;
  }

  &--btn-wrapper {
    align-self: center;
  }

  &--socials {
    align-self: center;
    display: flex;
    gap: 3.2rem;
  }

  &--logo {
    width: 5rem;
    cursor: pointer;
  }
}
