.header {
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;

  .banner {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    z-index: 999;

    &--logo {
      height: 5rem;
    }

    &--text {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
