.header {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.banner {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  z-index: 999;
}

.banner .banner-logo {
  height: 5rem;
}

.banner .banner-text {
  font-family: "Viga", sans-serif;
  font-size: 3.6rem;
}
