.nav {
  display: flex;
  align-items: center;

  &--list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.6rem;
  }

  &,
  &--link:link,
  &--link:visited {
    display: inline-block;
    text-decoration: none;
    color: $font;
    font-size: 1.6rem;
    transition: all 0.4s;
  }

  &--link:active,
  &--link:hover {
    transform: scale(1.1);
    color: $btn-primary;
  }
}

// FOOTER NAVIGATION
.footer--nav {
  align-self: center;

  &-list {
    display: flex;
    gap: 5.6rem;
    list-style: none;
    align-items: center;

    li span {
      font-size: 2.4rem;
      cursor: pointer;
    }
  }

  &,
  &-link:link,
  &-link:visited {
    display: inline-block;
    text-decoration: none;
    color: $font;
    font-size: 2.4rem;
    transition: all 0.7s;
  }

  &-link:active,
  &-link:hover {
    color: $btn-primary;
  }
}
